

  .absolute {
  position: absolute;
}

.inline-block {
  display: inline-block;
}

.loader {
  display: flex;
  margin: 0.25em 0;
}

.w-2 {
  width: 0.5em;
}

.dash {
  animation: dashArray 2s ease-in-out infinite,
    dashOffset 2s linear infinite;
}

.spin {
  animation: spinDashArray 2s ease-in-out infinite,
    spin 8s ease-in-out infinite,
    dashOffset 2s linear infinite;
  transform-origin: center;
}

@keyframes dashArray {
  0% {
    stroke-dasharray: 0 1 359 0;
  }

  50% {
    stroke-dasharray: 0 359 1 0;
  }

  100% {
    stroke-dasharray: 359 1 0 0;
  }
}

@keyframes spinDashArray {
  0% {
    stroke-dasharray: 270 90;
  }

  50% {
    stroke-dasharray: 0 360;
  }

  100% {
    stroke-dasharray: 270 90;
  }
}

@keyframes dashOffset {
  0% {
    stroke-dashoffset: 365;
  }

  100% {
    stroke-dashoffset: 5;
  }
}

@keyframes spin {
  0% {
    rotate: 0deg;
  }

  12.5%,
  25% {
    rotate: 270deg;
  }

  37.5%,
  50% {
    rotate: 540deg;
  }

  62.5%,
  75% {
    rotate: 810deg;
  }

  87.5%,
  100% {
    rotate: 1080deg;
  }
}









  body,html {
    background:#DDDDDD;
    height:100%;
  }
  
  div, ul , li{
      display: block; position: absolute;
      margin: auto; padding: 0;
  }
  
  span, li{ font-family: 'Petit Formal Script', cursive; }
  
  .container {
    width: 260px;
    height: 260px;
    top: 0; bottom: 0; left: 0; right: 0;
    animation:float 5s infinite;
    -webkit-animation:float 5s infinite;
  }
  
  .cloud{
    height: 32%;
    width: 80%;
    bottom: 30%;
    left: 0; right: 0;
    z-index: 1;
  }
  
  .cloud .c-one, .c-two, .c-three, .c-four{
    display: block;
    position: absolute;
    background: #FFF;
    bottom: 0;
    border-radius: 100% 100% 0 0;
  }
  
  .cloud .c-one{
    height: 50%;
    width: 20%;
    border-radius: 100% 100% 0 100%;
  }
  
  .cloud .c-two{
    height: 70%;
    width: 30%;
    left: 15%;
  }
  
  .cloud .c-three{
    height: 100%;
    width: 45%;
    left: 40%;
  }
  
  .cloud .c-four{
    height: 50%;
    width: 20%;
    border-radius: 100% 100% 100% 0;
    right: 0;
  }
  
  .rainbow, .rainbow span{
    border-radius: 100% 100% 0 0;
    border-width: 12px;
    border-style: solid;
    background: transparent;
    color: transparent;
  }
  
  .rainbow{
    border-color: #B83E47;
    height: 45%;
    width: 45%;
    z-index: 0;
    left:0; right: 0;
    bottom: 30%;
  }
  
  .rainbow span{
    display: block;
    position: absolute;
    height: 80%;
    width: 80%;
    left: 0; right: 0;
    margin: auto;
  }
  
  .rainbow .r-one{ border-color: #FFCD4A; }
  .rainbow .r-two{ border-color: #9BBF2A; height: 60%; width: 60%; top: 10%;}
  .rainbow .r-three{ border-color: #205B80; height: 40%; width: 40%; top: 20%;}
  
  .cat {
    background:#555;
    height: 30%;
    bottom: 40%;
    width: 65px;
    left: 22%;
    z-index: 0;
  }
  
  .cat:before{
     width: 0;
      height: 0;
      border-left: 0px solid transparent;
      border-right: 15px solid transparent;
      border-bottom: 15px solid #555;
      top: -14px;
      left: 0;
      position: absolute;
      content: "";
  }
  
  .cat:after{
     width: 0;
      height: 0;
      border-right: 0px solid transparent;
      border-left: 15px solid transparent;
      border-bottom: 15px solid #555;
      top: -14px;
      right: 0;
      position: absolute;
      content: "";
  }
  
  .cat .eyes{
    position: absolute;
    height: 8px; width: 8px;
    background: #FFF;
    border-radius: 100%;
    top: 15px;
  }
  
  .cat .eyes.left{ left: 10px; }
  .cat .eyes.right{  right: 10px; }
  
  .cat .mouth{
    position: absolute;
    height: 4px; width: 70%;
    background: #eee;
    border-radius: 0 0 30% 30%;
    top: 28px;
    margin: auto;
    left: 0; right: 0;
  }
  
  .cat:hover .mouth{
    height: 6px; width: 6px;
    border-radius: 50%;
    top: 26px;
  }
  
  .signature {
    position: fixed;
    margin: auto;
    bottom: 0;
    top: auto;
    width: 100%;
  }
  
  .signature p{
    text-align: center;
    font-family: Helvetica, Arial, Sans-Serif;
    font-size: 0.85em;
  }
  
  .signature .much-heart{
    display: inline-block;
    position: relative;
    margin: 0 4px;
    height: 10px;
    width: 10px;
    background: #AC1D3F;
    border-radius: 4px;
    -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
  }
  
  .signature .much-heart::before, 
  .signature .much-heart::after {
      display: block;
    content: '';
    position: absolute;
    margin: auto;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background: #AC1D3F;
    top: -4px;
  }
  
  .signature .much-heart::after {
    bottom: 0;
    top: auto;
    left: -4px;
  }
  
  .signature a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
  }
  
  @keyframes float{
  0 {left:0px;}
  25% {left:20px;}
  50% {left:0px;}
  75% {left:20px;}  
  100% {left: 0%;}
  }
  
  @-webkit-keyframes float /*Safari and Chrome*/ {
  0 {left:0px;}
  25% {left:20px;}
  50% {left:0px;}
  75% {left:20px;}  
  100% {left: 0%;}
  }
  
  