body {
  font-family: Arial, sans-serif;
  background-color: #282c34;
  color: white;
  text-align: center;
  margin: 0;
  padding: 20px;
}

.quiz-container {
  max-width: 600px;
  margin: auto;
}

.question-container {
  margin-bottom: 20px;
}

.options button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.options button:hover {
  background-color: #21a1f1;
}

.result-container {
  margin-top: 50px;
}

.result-container button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.result-container button:hover {
  background-color: #21a1f1;
}
