*{
    margin: 0;
    padding:0;
}

body{
    display:flex;
    flex-direction: column;
    height: 98vh;
}

.container{
    display: flex;
    flex-direction: column;
}

.red{
    background-color: red;
    height: 200px;
}

.green{
    background-color: green;
    height: 200px;
}

.blue{
    background-color: blue;
    height: 200px;
}