*{
    margin: 0;
    padding:0;
}

body{
    display:flex;
    height: 100vh;
}

header{
    background-color: red;
    width: 33.33%;
}

main{
    background-color: green;
    width: 33.33%;
}

footer{
    background-color: blue;
    width: 33.33%;
}